@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400&display=swap");

.ourstory-container{
    display: flex;
    flex-direction: column;
    margin:0 30px;
    width: 40%;
    padding: 10px;
}