.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container{
  width: 100%;
  height: 100%;
}
.section2-container {
  width: 100%;
  height: 200%;
  background-image: url("./images/coffee_item_10.jpg");
  background-size: cover;
  display: flex;
}

.cards-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.section3-container{
  width: 100%;
  height: 610px;
  background-image: url("./images/section_bg_12.jpg");
  background-size: cover;
  display: flex;
  padding-top: 130px;
}
.section4-container{
  width: 100%;
  height: 620px;
  background-image: url("./images/section_bg_10.jpg");
  background-size: cover;
  display: flex;
}
 
